@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inconsolata", monospace;
  background-image: url("./assets/images/pattern-lines.svg"),
    url("./assets/images/pattern-squiggly-line-top.svg"),
    url("./assets/images/pattern-circle.svg"),
    url("./assets/images/pattern-squiggly-line-bottom.svg"),
    url("./assets/images/background-mobile.png");
  background-size: cover, 50%, auto, 90%, cover;
  background-position: top, top right, center, bottom left, center;
}

#ticket {
  background-image: url("./assets/images/pattern-ticket.svg");
}

@media (min-width: 768px) {
  body {
    background-image: url("./assets/images/pattern-lines.svg"),
      url("./assets/images/pattern-squiggly-line-top.svg"),
      url("./assets/images/pattern-circle.svg"),
      url("./assets/images/pattern-squiggly-line-bottom.svg"),
      url("./assets/images/background-tablet.png");
    background-size: auto, auto, auto, auto, cover;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("./assets/images/pattern-lines.svg"),
      url("./assets/images/pattern-squiggly-line-top.svg"),
      url("./assets/images/pattern-circle.svg"),
      url("./assets/images/pattern-squiggly-line-bottom.svg"),
      url("./assets/images/background-desktop.png");
    background-size: auto, auto, auto, auto, cover;
  }
}
